.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body {
  flex: 1;
  display: flex;
  min-height: 0;
}

.mainArea {
  flex: 1;
  display: flex;
  min-width: 0;
  min-height: 0;
}

.editorPane {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
}
